
.header-custom{
               	font-family: 'Megrim', cursive;
                background: #297294; //#1E6C6C; //rgb(37,76,109);
                color: rgb(237,237,237);
}

.jumbotron {
        padding:70px 30px 70px 30px;
}


.logo{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin-left: -120px;
    margin-top: auto;
}



.material-logo{
   position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    margin-left: -120px;
    padding: 15px 15px;
    font-size: 52px;
    line-height: 20px;
    height: 52px;
}


pre{
  background: #FFFFFF;
}

.full-page{
	height:100vh;
	text-align:center;   
}
.vertical-align{
 padding-top:15%;
}

a.fa{
   text-align:center;
   font-size: 18;
}

a.fa:before{
   display: block;
} 


.text-easyPeasy{
   color:rgb(53,204,75);
}
.text-ok{
   color:rgb(253,191,65);
}
.text-advanced{
    color:rgb(252,91,101);
}

.text-hardCore{
   color:#000000;
}




.rating{
 direction: rtl;
 font-size: 30px;
}

.rating span.fa-star{
 font-family: FontAwesome;
 font-weight: normal; 
 font-style: normal;
 display: inline-block;
 direction: rtl;
}

.rating span.fa-star:hover {
    cursor: pointer;
}


.rating span.fa-star:before {
    content: "\f006";
    padding-right: 5px;
    color: #777777;
}

.rating span.fa-star:hover:before,
.rating span.fa-star:hover ~ span.fa-star:before {
    content: "\f005";
    color: #e3cf7a;
}


